
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-image:url('../img/fundo.jpg');
    color:black;
    background-size: auto 100vh;
    font-family: 'Sacramento', cursive;
    height:100vh;
    font-size: 13px;
  }

       /* se a tela tiver pelo menos 400px vai carregar estes estilos */
  @media (min-width: 400px) {
body{
  font-size: 14px;
}
  }

  
       /* breakpoint */
  @media (min-width: 800px) {
    body{
      font-size: 18px;
    }
      }

       /* breakpoint */
      @media (min-width: 1000px) {
        body{
          font-size: 25px;
        }
      }

  header{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .menu{
    background-color:black;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1;
  }
  
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style:none;
  }
  
  .menu a{
      display: block;
      padding: 10px 20px;
      transition:  background-color 1s , color  3s ;
  }
  
  .menu a:active,
.menu a:hover {
background-color:purple ;
color:whitesmoke;
}

  a{
    color: blue;
    text-decoration:none;
  }
  
  a:hover{
    text-decoretion:underline;
  }
  
.titulo{
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
 
  animation: ease-in-out 2s animacaotitulo forwards;
}

@keyframes animacaotitulo {
 from {
    transform: scale(0.2) translateY(50vh);
    opacity: 0;
  }

to {
  transform: scale(1) translateY(0);
  opacity: 1;
}
}

  .site-subtitle,
  .site-title{
    color:black;
    text-align:center;
  }
  
.site-title{
  font-size: 3em;
  font-family: 'Kaushan Script', cursive;
}

  .site-subtitle{
    font-style: italic;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 2.5em;
  }
  
  .sobre,
  .contato,
.TrabalhoseCursos{
  padding: 4em;
  min-height: 100vh;
}

.sobre h2,
.contato h2,
.TrabalhoseCursos h2{
  font-family: 'Sacramento', cursive;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre p {
  color: black ;
  margin-bottom: 1.2em;
  text-indent: 1em;
}


.TrabalhoseCursos .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .TrabalhoseCursos .grid {
  grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .TrabalhoseCursos .grid {
  grid-template-columns: repeat(3,260px);
  align-content: center;
  justify-content: center;
  height: calc(100vh - 5.5em - 48px);
  }
}

.TrabalhoseCursos figure {
  text-align: center;
}

  .img-portfolio{
      height: 180px;
      width: 240px;
      border-radius: 40px;
  }

.contato .icons{
  text-align: center;
}

  .contato a{
  color:rgb(255, 102, 0);
  font-size: 2.3em;
  transition: text-shadow 1s;
  }

.contato a:active,
.contato a:hover{
  text-shadow:0px 0px 20px rgb(68, 0, 255);
}
